.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s; /* Smooth transition for opening and closing */
    padding-top: 60px;

  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .dropdown-btn {
    font-size: 25px;
    border: none;
    background: none;
    color: #818181;
    padding: 8px 8px 8px 32px;
    text-align: left;
    cursor: pointer;
    outline: none;
    width: 100%;
  }
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  .dropdown-container a {
    font-size: 18px;
    color: #f1f1f1;
  }
  
  .menu-icon {
    font-size: 100px;
    background-color: #818181;
    cursor: pointer;
    position: fixed;
    top: 35px;
    left: 35px;
    z-index: 2; /* Ensure it's above other content */
  }
  .text{
    display: flex; 
    justify-content: center;
  }
  